@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: var(--color-primary);   
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 8px;
    grid-template-areas: 
    "menu menu menu menu menu menu menu menu menu menu menu menu"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales balance balance "
    "week week week week sales sales sales sales sales sales devs devs"
    "week week week week sales sales sales sales sales sales devs devs"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    ;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 8px;
        grid-template-areas: 
        "menu menu menu menu menu menu menu menu menu menu menu menu"
        "notification notification notification notification sales sales sales sales sales sales balance balance"
        "notification notification notification notification sales sales sales sales sales sales balance balance"
        "week week week week sales sales sales sales sales sales balance balance "
        "week week week week sales sales sales sales sales sales devs devs"
        "week week week week sales sales sales sales sales sales devs devs"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        ;
        width: 800px;
        height: 600px;
        margin: 15px auto;
        background: var(--color-primary);
    
        
       
    }
    .container div{
        background: var(--color-secundary);
        border-radius: 5px;
    }
    .item_1{
        background: red;
        grid-area: menu;
    }
    .item_2{
        background: blue;
        grid-area: notification;
    }
    .item_3{
        background: orange;
        grid-area: sales;
    }
    .item_4{
        background: violet;
        grid-area: balance;
    }
    .item_5{
        background: salmon;
        grid-area: week;
    }
    .item_6{
        background: seagreen;
        grid-area: devs;
    }
    .item_7{
        background: magenta;
        grid-area: product;
    }
    .item_8{
        background: darkgoldenrod;
        grid-area: timeline;
    }
    @media (width < 600px){
        .container{
            width: 100%;
            margin: 0;
            height: 100vh;
            background: red;
        }
    }
}
.container div{
    background: var(--color-secundary);
    border-radius: 5px;
}
.item_1{
    width: 100%;
    background: red;
    grid-area: menu;
}
.item_1 div{
    width: 49%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    display: inline-block;
    background: orange;
}
.item_1 div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item_1 div ul li{
    list-style: none;
}
.item_1 div ul li a{
    text-decoration: none;
}

.item_2{
    background: blue;
    grid-area: notification;
}
.item_3{
    background: orange;
    grid-area: sales;
}
.item_4{
    background: violet;
    grid-area: balance;
}
.item_5{
    background: salmon;
    grid-area: week;
}
.item_6{
    background: seagreen;
    grid-area: devs;
}
.item_7{
    background: magenta;
    grid-area: product;
}
.item_8{
    background: darkgoldenrod;
    grid-area: timeline;
}
@media (width < 800px){
    .container{
        width: 100%;
        margin: 0;
        padding: 2 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "menu menu"
        "notification notification"
        "sales balance"
        "week week"
        "devs devs"
        "product product"
        "timeline timeline"
        ;
    }
    .container div{
        border-radius: 0px;
    }
}
    